a[href^="https://www.google.com/"] { 
	color: green;
}

a[target="_blank"] {
    color: red;
 }

#second-div p:nth-child(even) {
 	color: red;
 }

#second-div p:nth-child(odd) {
 	color: blue;
 }

h2 p::after {
content: "NEW";
color: yellow;
}

#first-div>p::after {
    content: "NEW";
	color: yellow;
 }

body>p:last-of-type:hover{
	font-style: italic;
}